.aboutStore {
  @include size(100%, calc(100vh - 60px));

  //手機
  @include phone-width {
    height: auto;
  }

  .aboutStoreContainer {
    @include size(100%);
    padding: 20px;
  }

  .aboutBgR,
  .aboutBgB,
  .aboutBgY,
  .aboutBgG {
    @include size(100%);
    position: relative;
    overflow: hidden;
    //手機
    @include phone-width {
      margin: 0;
    }

    &::before {
      @include size(85%, 100%);
      content: '';
      position: absolute;
      top: 10%;
    }
  }

  .aboutBgR {
    &::before {
      background-color: #dbb6b6;
      right: 40px;
      //手機
      @include phone-width {
        right: -20px;
      }
    }
  }

  .aboutBgB {
    &::before {
      background-color: #bdc3ce;
      left: 40px;
      //手機
      @include phone-width {
        left: -20px;
      }
    }
  }

  .aboutBgG {
    &::before {
      background-color: #baceb7;
      left: 40px;
      //手機
      @include phone-width {
        left: -20px;
      }
    }
  }

  .aboutBgY {
    &::before {
      background-color: #eeeea0;
      right: 40px;
      //手機
      @include phone-width {
        right: -20px;
      }
    }
  }

  .aboutSlogan {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 24px;
      margin: 4px;
      font-weight: 500;
    }
  }

  .aboutFlexRow {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .aboutStoreImg {
    @include size(100%, 90%);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .aboutStoreImg1 {
    background-image: url('./assets/images/aboutStoreImg01.jpg');
  }

  .aboutStoreImg2 {
    background-image: url('./assets/images/aboutStoreImg02.jpg');
  }

  .aboutStoreImg3 {
    background-image: url('./assets/images/aboutStoreImg03.jpg');
  }

  .aboutStoreImg4 {
    background-image: url('./assets/images/aboutStoreImg04.jpg');
  }

  .detailMt {
    margin-top: 4rem;
  }

  .detailImg {
    width: 70px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      opacity: 1;
    }
  }

  .detailImg1 {
    background-image: url('./assets/images/aboutStoreImg01-1.jpg');
    //手機
    @include phone-width {
      margin-top: 10px;
    }
  }

  .detailImg2 {
    background-image: url('./assets/images/aboutStoreImg01-2.jpg');
  }

  .detailImg3 {
    background-image: url('./assets/images/aboutStoreImg01-3.jpg');
  }

  .detailImg4 {
    background-image: url('./assets/images/aboutStoreImg02-1.jpg');
    //手機
    @include phone-width {
      margin-top: 10px;
    }
  }

  .detailImg5 {
    background-image: url('./assets/images/aboutStoreImg02-2.jpg');
  }

  .detailImg6 {
    background-image: url('./assets/images/aboutStoreImg02-3.jpg');
  }
  .detailImg7 {
    background-image: url('./assets/images/aboutStoreImg03-1.jpg');
    background-position: center center;
    //手機
    @include phone-width {
      margin-top: 10px;
    }
  }
  .detailImg8 {
    background-image: url('./assets/images/aboutStoreImg03-2.jpg');
    background-position: center center;
  }
  .detailImg9 {
    background-image: url('./assets/images/aboutStoreImg03-3.jpg');
    background-position: center center;
  }
  .detailImg10 {
    background-image: url('./assets/images/aboutStoreImg04-1.jpg');
    //手機
    @include phone-width {
      margin-top: 10px;
    }
  }
  .detailImg11 {
    background-image: url('./assets/images/aboutStoreImg04-2.jpg');
  }
  .detailImg12 {
    background-image: url('./assets/images/aboutStoreImg04-3.jpg');
  }

  .aboutStoreTxt {
    position: absolute;
    font-family: $chFont;
    bottom: 0;

    h3 {
      font-size: 3em;
      line-height: 1.3;
      letter-spacing: 2px;
    }
  }

  .responsiveH100vh {
    //手機
    @include phone-width {
      height: calc(100vh - 60px);
      padding: 30px;
    }
  }
}
