.admin {
  th {
    font-size: 24px;
    font-family: $chFont;
  }

  h3 {
    text-align: center;
    font-size: 32px;
    margin: 0;
  }

  .productsTable {
    width: 80%;
    margin: auto;
  }

  .btn-outline-danger {
    margin-right: 20px;
  }

  .productTableRow {
    height: 60px;
    border-bottom: 1px solid rgb(209, 204, 204);
  }

  .testPic {
    @include size(50px);
    background-size: cover;
    background-position: center center;
  }

  .backToAdd {
    cursor: pointer;
  }
}
