.store {
  .storeBanner {
    background-image: url('./assets/images/bannerG.jpg');
    background-position: center center;
    background-size: cover;
  }

  .coupon {
    @include size(80%, 35vh);
    margin: auto;
    margin-top: 60px;
    // background-color: $bgMainColor;
    // border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    h6 {
      font-family: $chFont2;
      font-size: 5rem;
      font-weight: 900;
      margin: 0;
      letter-spacing: 5px;
      color: #313131;
      text-shadow: 5px 5px 0 rgb(173, 170, 170);

      span {
        font-weight: 700;
        color: white;
        font-size: 22px;
      }
    }

    // .cartIcon {
    //   i {
    //     font-size: 24px;
    //     margin-right: 10px;
    //     color: #cac7c7;
    //   }
    // }
  }
}
