.about {
  .history {
    @include size(100%, 30vh);
    position: relative;
    background: white;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;

    &:hover {
      background: black;
    }

    &:hover .historyTxt {
      color: white;
      border: 3px solid white;
    }
  }
  .historyTxt {
    font-family: $chFont2;
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    padding: 20px;
    transition: 0.7s;
    //手機
    @include phone-width {
      font-size: 1.3rem;
    }

    span {
      font-size: 2rem;
      opacity: 1;

      //手機
      @include phone-width {
        font-size: 1rem;
      }
    }
  }
}
