.about {
  .history {
    position: relative;
    height: auto;
    background: white;
    display: flex;
    flex-wrap: wrap;
  }

  .historyImgCover {
    min-width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, #e2924c, #eac8a4);
    opacity: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .historyImgBox {
    @include size(100%);
    background-image: url('./assets/images/taiwanFood.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .historyTxt {
    font-family: $chFont2;
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    //手機
    @include phone-width {
      font-size: 1.3rem;
    }

    span {
      font-size: 2rem;
      opacity: 1;

      //手機
      @include phone-width {
        font-size: 1rem;
      }
    }
  }
}
