.login {
  @include size(100%, calc(100vh - 60px));
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bgMainColor;

  .loginBox {
    position: relative;
    width: 350px;
    padding: 40px 40px 60px;
    background-color: $bgMainColor;
    border-radius: 10px;
    text-align: center;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
      5px 5px 15px rgba(0, 0, 0, 0.5);
  }

  h2 {
    color: #c7c7c7;
    font-weight: 500;
    letter-spacing: 4px;
  }

  .inputBox {
    text-align: left;
    margin-top: 40px;

    input {
      @include size(100%, 50px);
      background: #131419;
      border: none;
      outline: none;
      border-radius: 40px;
      padding: 5px 15px;
      color: #03a9f4;
      box-shadow: inset -2px -2px 10px rgba(255, 255, 255, 0.05),
        inset 2px 2px 15px rgba(0, 0, 0, 0.5);

      &::placeholder {
        color: #555;
        font-size: 18px;
      }
    }

    label {
      display: block;
      color: #868686;
      margin-bottom: 5px;
      font-size: 18px;
    }
  }

  .loginHandler {
    @include size(100%, 50px);
    margin-top: 20px;
    background: #131419;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 5px 15px;
    color: #03a9f4;
    box-shadow: -2px -2px 10px rgba(255, 255, 255, 0.05),
      2px 2px 15px rgba(0, 0, 0, 0.5);
  }

  .loginHandler:active {
    color: #006c9c;
    margin-top: 20px;
    box-shadow: inset -2px -2px 10px rgba(255, 255, 255, 0.05),
      inset 2px 2px 15px rgba(0, 0, 0, 0.5);
  }

  .signUpTxt {
    margin: 0;
    margin-top: 20px;
    color: #555;
  }
}
