$enFont: 'Bad Script', cursive;
$chFont: 'Noto Sans TC', sans-serif;

$pc-media: 960px;
$pcs-media: 959px;
$pad-media: 760px;
$pads-media: 759px;
$phone-media: 480px;
$phones-media: 479px;
//電腦960up
@mixin pc-width() {
  @media all and (min-width: $pc-media) {
    @content;
  }
}
//平板760~959
@mixin pad-width() {
  @media all and (min-width: $pad-media) and (max-width: $pcs-media) {
    @content;
  }
}
//小平板480~759
@mixin small-pad-width() {
  @media all and (min-width: $phone-media) and (max-width: $pads-media) {
    @content;
  }
}
//手機less then 479
@mixin phone-width() {
  @media all and (max-width: $phones-media) {
    @content;
  }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}
