.about {
  .slogan {
    @include size(100%, 100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    &::after {
      content: '美食公道婆';
      position: absolute;
      font-family: $chFont2;
      @include size(100%);
      font-weight: 900;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 250px;
      opacity: 0.1;

      @include phone-width {
        writing-mode: vertical-rl;
        font-size: 122px;
        letter-spacing: 30px;
      }
    }
  }

  h5 {
    writing-mode: vertical-rl;
    font-family: $chFont2;
    font-weight: 900;
    line-height: 0;
    font-size: 1.5rem;
    letter-spacing: 3px;
  }
}
