.store {
  display: flex;
  flex-wrap: wrap;
  .storeMain {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    display: inline-block;
  }

  .storeProducts {
    width: 90%;
    margin: auto;
    position: relative;
  }

  .storeProduct {
    transition: 0.8s;
    cursor: pointer;
    // border: 1px solid black;
    // position: relative;

    &:hover {
      transform: translateY(-5px);
    }

    .productHover {
      position: absolute;
      background-color: rgb(129, 129, 129);
      transition: 0.8s;
      @include size(0);
    }

    &:hover .hook {
      &.productHover:nth-child(1) {
        @include size(20px, 4px);
      }

      &.productHover:nth-child(2) {
        @include size(4px, 20px);
      }

      &.productHover:nth-child(3) {
        @include size(4px, 20px);
        right: 16px;
      }

      &.productHover:nth-child(4) {
        @include size(20px, 4px);
        right: 16px;
      }

      &.productHover:nth-child(5) {
        @include size(20px, 4px);
        right: 16px;
        bottom: 0;
      }

      &.productHover:nth-child(6) {
        @include size(4px, 20px);
        right: 16px;
        bottom: 0;
      }

      &.productHover:nth-child(7) {
        @include size(20px, 4px);
        bottom: 0;
      }

      &.productHover:nth-child(8) {
        @include size(4px, 20px);
        bottom: 0;
      }
    }
  }

  .productImg {
    @include size(200px);
    border-radius: 8px;
    box-sizing: border-box;
    margin: auto;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    // background-image: url('./assets/images/slider2.jpg');
    box-shadow: 2px 2px 8px black;
  }

  .productTxt {
    position: relative;

    .productIconBg {
      @include size(100%);
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .fa-utensils {
      font-size: 200px;
      z-index: -1;
      color: #f6ffae;
      opacity: 0.6;
    }
  }

  .storeName {
    font-family: $chFont2;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    margin-top: 1rem;
  }

  .badgesGroup {
    text-align: center;

    span {
      margin: 0 5px;
    }
  }

  .productsScore {
    text-align: center;
  }

  .productScoreBox {
    display: flex;
    justify-content: center;

    .scoreTitle {
      margin-right: 1rem;
      font-family: $chFont2;
      font-weight: 700;
    }
  }
}
.list-enter-active,
.list-leave-active {
  transition: all 0.8s;
}
.list-enter,
.list-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

// .list-leave-active {
//   position: absolute;
// }

.list-enter-to,
.list-leave {
  opacity: 1;
}

.list-move {
  transition: all 0.8s;
}

.list-leave,
.list-leave-active {
  display: none;
}
