.store {
  .storeSideBar {
    width: 25%;
    position: sticky;
    top: 80px;
    display: inline-block;
    align-self: flex-start;

    &::after {
      content: 'MENU';
      position: absolute;
      @include size(100%);
      top: 0;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      writing-mode: vertical-lr;
      font-size: 5rem;
      z-index: -1;
      color: #b8b3b3;
      opacity: 0.4;
    }
  }

  .sideBar {
    @include size(100%, 350px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 3rem;
  }

  .sideBarLink {
    z-index: 1;
    width: 100%;
    font-family: $chFont2;
    font-weight: 900;
    color: black;
    font-size: 24px;
    margin: 5px 0;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;

    &:hover .sideBarEnTitle {
      opacity: 1;
    }
  }

  .sideBarBox {
    text-align: left;
  }

  .sideBarChTitle {
    margin-right: 10px;
    transition: 0.5s;
  }

  .sideBarEnTitle {
    font-size: 16px;
    transition: 0.5s;
    opacity: 0;
  }

  .sideBarBox.activeSideBar .sideBarEnTitle {
    opacity: 1 !important;
  }
}
