.about {
  .team {
    position: relative;
    height: auto;
    background: white;
    display: flex;
    flex-wrap: wrap;
  }

  .teamImgPadding {
    position: sticky;
    top: 60px;
    min-width: 50%;
    height: calc(100vh - 60px);
    padding: 40px;
    //平板
    @include pad-width {
      padding: 15px;
    }
    //小平板
    @include small-pad-width {
      padding: 15px;
      min-width: 100%;
      position: static;
      top: 0;
      order: 2;
    }
    //手機
    @include phone-width {
      padding: 10px;
      min-width: 100%;
      position: static;
      top: 0;
      order: 2;
      height: 50vh;
    }
  }

  .teamImgBox {
    @include size(100%);
    background-image: url('./assets/images/team2.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .teamTxt {
    max-width: 50%;

    //小平板
    @include small-pad-width {
      min-width: 100%;
      order: 1;
    }
    //手機
    @include phone-width {
      min-width: 100%;
      order: 1;
      height: 48vh;
    }

    h2 {
      position: sticky !important;
      top: 60px;
      background-image: linear-gradient(
        to bottom,
        white,
        white,
        white,
        transparent
      );
      font-size: 4em;
      font-family: $enFont;
      text-align: center;
      padding: 20px 0;
      letter-spacing: 2px;
      position: relative;
      color: #8a0606;

      //平板
      @include pad-width {
        font-size: 2.5em;
      }
      //小平板
      @include small-pad-width {
        font-size: 2.3em;
      }
      //手機
      @include phone-width {
        font-size: 2.3em;
      }
    }

    p {
      line-height: 2;
      font-size: 1rem;
      letter-spacing: 3px;
      font-family: $chFont;
      padding: 20px;
      //平板
      @include pad-width {
        font-size: 1.5em;
      }
      //小平板
      @include small-pad-width {
        display: none;
      }
      //手機
      @include phone-width {
        height: 30vh;
        overflow: auto;
      }

      span {
        font-size: 1.5em;
        color: #8a0606;
        font-weight: 700;
        margin-top: 20px;
        display: block;
      }
    }
  }
}
