.about {
  .timer {
    position: relative;
    height: auto;
    background: white;
    display: flex;
    flex-wrap: wrap;
  }

  .timerImgPadding {
    position: sticky;
    top: 60px;
    min-width: 50%;
    height: calc(100vh - 60px);
    padding: 40px;
    //平板
    @include pad-width {
      padding: 15px;
    }
    //小平板
    @include small-pad-width {
      padding: 15px;
      min-width: 100%;
      position: static;
      top: 0;
      order: 2;
    }
    //手機
    @include phone-width {
      padding: 10px;
      min-width: 100%;
      position: static;
      top: 0;
      order: 2;
      //手機
      @include phone-width {
        height: 50vh;
      }
    }
  }

  .timerImgBox {
    @include size(100%);
    background-image: url('./assets/images/timer2.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .timerTxt {
    width: 50%;

    //小平板
    @include small-pad-width {
      min-width: 100%;
      order: 1;
    }
    //手機
    @include phone-width {
      min-width: 100%;
      order: 1;
      height: 48vh;
    }

    h2 {
      position: sticky !important;
      top: 60px;
      background-image: linear-gradient(
        to bottom,
        white,
        white,
        white,
        transparent
      );
      font-size: 2.5em;
      text-align: center;
      padding: 20px 0;
      letter-spacing: 2px;
      position: relative;
      color: black;
      z-index: 1;

      //平板
      @include pad-width {
        font-size: 2.5em;
      }
      //小平板
      @include small-pad-width {
        font-size: 2.3em;
      }
      //手機
      @include phone-width {
        font-size: 2.3em;
      }
    }

    .timerContent {
      position: relative;

      @include phone-width {
        height: 30vh;
        overflow: auto;
      }
    }

    .timerDotted {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: black;
        transform: translate(-40%, -50%);
      }

      &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: black;
        top: 0;
        left: 50%;
      }
    }

    .timerYears,
    .timerHappen {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
      font-family: $chFont;
    }

    .timerYears {
      font-size: 28px;
      letter-spacing: 2px;
    }

    .timerHappen {
      text-align: center;
    }

    // p {
    //   line-height: 2;
    //   font-size: 1rem;
    //   letter-spacing: 3px;
    //   font-family: $chFont;
    //   padding: 20px;
    //   color: #858383;
    //   //平板
    //   @include pad-width {
    //     font-size: 1.5em;
    //   }
    //   //小平板
    //   @include small-pad-width {
    //     display: none;
    //   }
    //   //手機
    //   @include phone-width {
    //     height: 30vh;
    //     overflow: auto;
    //   }

    //   span {
    //     font-size: 1.5em;
    //     color: #2b3615;
    //     font-weight: 700;
    //   }
    // }
  }
}
